
/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: rgb(183, 99, 10);
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }