.section-heading .paragraph{
    color: #ababab;
    font-size: 1.2rem;
    margin: 5px;
}
.section-heading{
    font-family: emogy;
}
.aos-gym{
    font-size: 2rem;
    font-family: emogy;
}
.section-heading .heading{
    color: #c83660;
    font-size: 2.5rem;
    font-weight: 900;
}
.person h3{
    font-size: 18px;
    font-weight: bold;
}
.person p {
    font-size: 15px;
}
.person .position {
    color: #ccc;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}