<div class="site-section" id="services-section">
    <div class="container">
      <div class="row justify-content-center text-center mb-5 aos-init aos-animate" data-aos="fade-up">
        <div class="col-md-8  section-heading">
          <span class="subheading">Fitness Services</span>
          <h2 class="heading mb-3">Services</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
            texts.
            </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
          <div class="ftco-feature-1">
            <span class="icon flaticon-fit"></span>
            <div class="ftco-feature-1-text">
              <h2>Be Fit</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur tempora delectus aut, mollitia. Veritatis!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="ftco-feature-1">
            <span class="icon flaticon-gym-1"></span>
            <div class="ftco-feature-1-text">
              <h2>Join Club</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tenetur numquam sunt sequi similique.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="ftco-feature-1">
            <span class="icon flaticon-gym"></span>
            <div class="ftco-feature-1-text">
              <h2>Gym Fitness</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam fuga, blanditiis. Possimus, error, deserunt.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
          <div class="ftco-feature-1">
            <span class="icon flaticon-vegetables"></span>
            <div class="ftco-feature-1-text">
              <h2>Eat Vegie</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam tempore aliquam dolores quos.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="ftco-feature-1">
            <span class="icon flaticon-fruit-juice"></span>
            <div class="ftco-feature-1-text">
              <h2>Fruit Juices</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic aut libero, doloribus. Magni, nihil.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="ftco-feature-1">
            <span class="icon flaticon-stationary-bike"></span>
            <div class="ftco-feature-1-text">
              <h2>Body Warmup</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolorem debitis assumenda beatae quis.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>